body{
    background-color: whitesmoke;
}
.h1{
    margin-top: 100px;
    margin-bottom: 40px;
}
.productDiv{
    padding: 80px 20px 20px 20px;
    background-color: white;
    border: 1px;
    border-radius: 15px;
    box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.5);
}

.image{
    width: 80px;
    height: 80px;
}

.mainDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
    gap: 20px;
}

.navBar{
    margin : 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(76, 0, 255);
    color: white;
    font-size: larger;
    padding: 15px;
    top: 0;
    width: 100%;
    position: fixed;
}

.link{
    padding: 15px;
}
 
.link:hover{
    background-color: rgb(115, 56, 252);
    color: white;
}

.mainProductDiv{
    display: grid;
    grid-template-rows: 250px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.productDescription{
    grid-row-start : 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.productImgDiv{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.productImg{
    height: 300px;
    width: 300px;
}

.ratingProductDiv{
    text-align: left;
    float: left;
}

.titleProductDiv{
    padding: 120px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.productCartDiv{
    margin: auto;
    margin-top: 20px;
    width: 600px;
    border-radius: 15px;
    background-color: white;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 15px;
    box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 10px -4px rgba(0,0,0,0.5);
}

.imgProductCart{
    position: relative;
    top: 10px;
    left: 5px;
    height: 40px;
    width: 40px;
}

.productCartSpan{
    position: relative;
    left: 5px;
}

.cartBuyButton{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    padding: 5px 10px;
    border-style: none ;
    background-color:rgb(77, 184, 255);
}

.cartRemoveButton{
    float: right;
    margin-top: 20px;
    margin-right: 5px;
    border-style: none;
    background-color: rgb(253, 89, 89);
    padding: 5px 10px;
}